#circle-wrapper {
	background: #238ddf;
	border-radius: 50%;
	height: 25rem;
	width: 25rem;
	position: relative;
	box-shadow: 0 0 0 50px #f9e9ee;
	margin-left: -3rem;
	margin-top: -25rem;
}

/* #circle {
	width: 80;
	height: 80%;
	border-radius: 400px;

	background-color: #238ddf;
} */

@media screen and (max-width: 660px) {
	#circle-wrapper {
		margin-top: 0;
	}
}
