.checkout-item {
	width: 100%;
	display: flex;
	min-height: 100px;
	border-bottom: 1px solid darkgrey;
	padding: 15px 0;
	font-size: 20px;
	align-items: center;
}

.checkout-item__image-container {
	width: 23%;
	padding-right: 15px;
}

.checkout-item__image-container--img {
	width: 100%;
	height: 100%;
}

.checkout-item__name,
.checkout-item__quantity,
.checkout-item__price {
	width: 23%;
}

.checkout-item__quantity {
	display: flex;
}
.checkout-item__quantity--arrow {
	cursor: pointer;
}

.checkout-item__quantity--value {
	margin: 0 10px;
}

.checkout-item__remove-button {
	padding-left: 12px;
	cursor: pointer;
}
